@media screen and (max-width: 475px) {
  .slide {
    width: 100%;
    --slide-lg: 15em;
    --slide-md: 12em;
    --slide-sm: 10em;
    --slide-gap: 3.8em;
  }
}
@media screen and (min-width: 476px) and (max-width: 700px) {
  .slide {
    width: 100%;
    --slide-lg: 20em;
    --slide-md: 15em;
    --slide-sm: 12em;
    --slide-gap: 6em;
  }
}
@media screen and (min-width: 701px) {
  .slide {
    width: 50%;
    --slide-lg: 22em;
    --slide-md: 18em;
    --slide-sm: 15em;
    --slide-gap: 7em;
  }
}

.slide {
  display: block;
  position: relative;
  margin-bottom: var(--size-20);
}
.slide-view {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: var(--slide-lg);
  position: relative;
}
.slide-view div {
  display: flex;
  width: var(--slide-lg);
  height: var(--slide-lg);
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 20px #00000050;
  border-radius: 0.2em;
}
.slide-view .top {
  z-index: 3;
}
.slide-view .middle {
  width: var(--slide-md);
  height: var(--slide-md);
  right: calc(var(--slide-gap) * 1.1);
  z-index: 2;
}
.slide-view .bottom {
  width: var(--slide-sm);
  height: var(--slide-sm);
  right: calc(var(--slide-gap) * 1.9);
  z-index: 1;
}
.move .top {
  animation: 0.5s ease-in-out fromMiddleToTop;
}
.move .middle {
  animation: 0.5s ease-in-out fromBottomToMiddle;
}
.move .bottom {
  animation: 0.5s ease-in-out fromTopToBottom;
}
/* slide button */
.next-button {
  position: absolute;
  right: 0px;
  top: calc((var(--slide-lg) / 2) + (2em / 2));
  z-index: 10;
  padding: 0px;
}
.next-button img {
  width: 2em;
}

/* animation key frame */
@keyframes fromMiddleToTop {
  0%,
  50% {
    width: var(--slide-md);
    height: var(--slide-md);
    right: calc(var(--slide-gap) * 1);
    z-index: 2;
  }
  100% {
    width: var(--slide-lg);
    height: var(--slide-lg);
    right: 0px;
    z-index: 3;
  }
}
@keyframes fromBottomToMiddle {
  0%,
  50% {
    width: var(--slide-sm);
    height: var(--slide-sm);
    right: calc(var(--slide-gap) * 2);
    z-index: 1;
  }
  100% {
    width: var(--slide-md);
    height: var(--slide-md);
    right: calc(var(--slide-gap) * 1);
    z-index: 2;
  }
}
@keyframes fromTopToBottom {
  0% {
    width: var(--slide-lg);
    height: var(--slide-lg);
    right: 0px;
    opacity: 1;
    z-index: 3;
  }
  50% {
    width: var(--slide-lg);
    height: var(--slide-lg);
    right: calc(-1 * var(--slide-lg));
    opacity: 0;
    z-index: -1;
  }
  100% {
    width: var(--slide-sm);
    height: var(--slide-sm);
    right: calc(var(--slide-gap) * 2);
    opacity: 1;
    z-index: 1;
  }
}
