@media screen and (max-width: 475px) {
  .store {
    --slide-width: 100%;
    --slide-height: 200px;
  }
  .store-item {
    margin-right: 0px;
  }
}
@media screen and (min-width: 476px) and (max-width: 700px) {
  .store {
    --slide-width: calc(50% - var(--size-5));
    --slide-height: 200px;
  }
  .store-item:nth-of-type(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 701px) {
  .store {
    --slide-width: 30%;
    --slide-height: 180px;
  }
  .store-item:nth-of-type(3n) {
    margin-right: 0px;
  }
}
.store {
  display: flex;
  width: 100%;
  padding: var(--size-20) 0;
  flex-wrap: wrap;
  justify-content: left;
  animation: 0.5s ease-in-out fade;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.store-item {
  width: var(--slide-width);
  background-color: white;
  transition: all 0.2s ease-in-out;
  margin-right: var(--size-10);
  margin-bottom: var(--size-10);
  border-radius: 0.3em;
  flex-shrink: 0;
  /* animation: 0.5s ease-in-out fade; */
}
.store-text {
  padding: var(--size-5) var(--size-10);
}
.store-text a {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.store-text h1 {
  font-size: 1rem;
  margin-bottom: var(--size-10);
}
.store-text p {
  margin: 0;
}
.store-image {
  width: 100%;
  height: var(--slide-height);
  object-fit: cover;
  display: flex;
  flex: row;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;
  position: relative;
}
.store-image img {
  width: 120%;
  left: 100%;
  flex-shrink: 0;
  position: absolute;
}
